<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>KitchenBar 2.0</title>
	<style type="text/css">
		/* HTML */
		html, body {
			margin: 0px;
			width: 100%;
		}     
        table { 
			border: none;
			border-collapse: collapse;
			width: 100%;
        }        
		img {
			max-width: 100%;
		}
		p {
			margin: 0px;
		}

		/* Classes */
		.floatLeft {
			float: left;
		}
		.floatRight {
			float: right;
		}
		.borderTop {
			border-top: 1px solid black;
		}
		.borderBottom {
			border-bottom: 1px solid black;
		}
		.alignLeft {
			text-align: left;
		}
		.alignRight {
			text-align: right;
		}
		.alignCenter {
			text-align: center;
		}
		.fontWeightNormal {
			font-weight: normal;
		}
		.widthHundred {
			width: 100%;
		}
		.widthSixty {
			width: 60%;
		}
		.widthFifty {
			width: 50%;
		}
		.widthTen {
			width: 10%;
		}
        .marginClearRight {
			clear: right;
		}
		.marginClearLeft {
			clear:left;
		}
		.clearBoth {
			clear: both;
		}
		.autoMargin {
			margin: auto;
		}
	</style>
	<script type="text/javascript" src="http://www.posios.com/js/jquery.min.js"></script>
	<script type="text/javascript" src="http://www.posios.com/js/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="http://www.posios.com/js/jquery.qrcode.min.js"></script>
	<script type="text/javascript" src="http://www.posios.com/js/moment.min.js"></script>
	<script type="text/javascript">  
		var NL = ["Subtotaal", "Taks", "Korting", "Service Charge", "Tip", "Totaal", "Naam", "Prijs"];
		var EN = ["Subtotal", "Tax", "Discount", "Gratuity", "Tip", "Total", "Item", "Price"];
		var FR = ["Sous-total", "Impôt", "Réduction", "Service Charge", "Pourboire", "Total", "Produit", "Prix"];
		var DE = ["Zwischensumme", "Steuer", "Rabatt", "Service Charge", "Spitze", "Summe", "Name", "Betrag"];

		/*Type*=*barItems*OR*kitchenItems*******************
		* Set language here:*/ window.language = DE;      /*
		* Set type here:*/ window.type = "barItems";  /*
		***************************************************/

		(function(){
			Array.prototype.allIndexOf = function(searchElement) {
				if (this === null) { return [-1]; }
				var len = this.length,
				hasIndexOf = Array.prototype.indexOf,
				i = (hasIndexOf) ? this.indexOf(searchElement) : 0, n, indx = 0, result = [];
				if (len === 0 || i === -1) { return [-1]; }
				if (hasIndexOf) {
					for (n = 0; n <= len; n++) {
						i = this.indexOf(searchElement, indx);
					if (i !== -1) {
						indx = i + 1;
						result.push(i);
					} else {
						return result;
					}
				}
				return result;
				} else {
					for (n = 0; n <= len; n++) {
						if (this[n] === searchElement) {
							result.push(n);
						}
					}
					return (result.length > 0) ? result : [-1];
				}
			};
		})();

		function checkIfNotZeroEmptyOrNull(passedValue) {
			if(typeof passedValue !== "undefined") {
				if(!passedValue)
					return false;
				else
					if(passedValue === "" || passedValue.length == 0)
						return false;
					else
						return true;
			}
		}

		function calculateAdditionsPrices(additions, option) {
			var total = 0;

			for(var key in additions) {
				if(additions.hasOwnProperty(key)) {
					// Option added for menus.
					if(option == 2) {
						if(completeReceipt.company.vatInclusive == true)
							total += additions[key].price;
						else
							total += additions[key].priceWithoutVAT;
					}
					else {
						if(completeReceipt.company.vatInclusive == true)
							total += additions[key].price * additions[key].amount;
						else
							total += additions[key].priceWithoutVAT * additions[key].amount;
					}
				}
			}

			return total;
		}

		function productIsOffert(productName) {
			if(productName.indexOf('*') > -1)
				return true;
			return false;
		}

		// Option 1: Belgian date and time dd/mm/yyyy hh:mm
		// Option 2: Belgian date          dd/mm/yyyy
		// Option 3: UK/US date and time   mm/dd/yyyy hh:mm AM/PM
		// Option 4: UK/US date            mm/dd/yyyy
		function dateToString(passedDate, option) {
			var meridiem = 'AM';
			if(passedDate)
				var date = new Date(passedDate);
			else
				var date = new Date();
			var dd = date.getDate();
			var mm = date.getMonth() + 1;
			var hh = date.getHours();
			var m = date.getMinutes();
			if(dd < 9)
				dd = '0' + dd;
			if(mm < 9)
				mm = '0' + mm;
			if(hh > 12 && option == 3)
				hh = hh - 12;
			if(hh == 12 && option == 3)
				meridiem = 'PM';
			if(hh < 10)
				hh = '0' + hh;
			if(m < 10)
				m = '0' + m;
			var stringTime = '';
			switch(option) {
				case 1: stringTime = dd + '/' + mm + '/' + date.getFullYear() + ' ' + hh + ":" + m;
						break;
				case 2: stringTime = dd + '/' + mm + '/' + date.getFullYear();
						break;
				case 3: stringTime = mm + '/' + dd + '/' + date.getFullYear() + ' ' + hh + ":" + m + ' ' + meridiem;
						break;
				case 4: stringTime = mm + '/' + dd + '/' + date.getFullYear();
						break;
			}
			return stringTime;
		}

		function markUpName(passedName) {
			return passedName[0].toUpperCase() + passedName.substring(1);
		}

		function sortJsonArrayByProperty(objArray, prop, direction){
			if (arguments.length < 2) throw new Error("sortJsonArrayByProp requires 2 arguments");
			var direct = arguments.length > 2 ? arguments[2] : 1; //Default to ascending
			var intRegex = /^\d+$/;

			if(objArray) {
				var propPath = (prop.constructor === Array) ? prop : prop.split(".");
				objArray.sort(function(a, b) {
					for (var p in propPath) {
						if (a[propPath[p]] && b[propPath[p]]) {
							a = a[propPath[p]];
							b = b[propPath[p]];
						}
					}

					if(!(intRegex.test(a) && intRegex.test(b))) {
						// convert numeric strings to integers
						a = a.match(/^\d+$/) ? +a : a;
						b = b.match(/^\d+$/) ? +b : b;
					}
					return ((a < b) ? -1 * direct : ((a > b) ? 1 * direct : 0));
				});
			}
		}

		var sort_by;

		(function() {
			// utility functions
			var default_cmp = function(a, b) {
				if (a == b) return 0;
				return a < b ? -1 : 1;
			},
			getCmpFunc = function(primer, reverse) {
				var dfc = default_cmp, // closer in scope
				cmp = default_cmp;
				if (primer) {
					cmp = function(a, b) {
						return dfc(primer(a), primer(b));
					};
				}
				if (reverse) {
					return function(a, b) {
						return -1 * cmp(a, b);
					};
				}
				return cmp;
			};

			// actual implementation
			sort_by = function() {
				var fields = [], n_fields = arguments.length, field, name, reverse, cmp;

				// preprocess sorting options
				for (var i = 0; i < n_fields; i++) {
					field = arguments[i];
					if (typeof field === 'string') {
						name = field;
						cmp = default_cmp;
					}
					else {
						name = field.name;
						cmp = getCmpFunc(field.primer, field.reverse);
					}
					fields.push({
						name: name,
						cmp: cmp
					});
				}

				// final comparison function
				return function(A, B) {
					var a, b, name, result;
					for (var i = 0; i < n_fields; i++) {
						result = 0;
						field = fields[i];
						name = field.name;

						result = field.cmp(A[name], B[name]);
						if (result !== 0) break;
					}
					return result;
				}
			}
		}());

		function calculateTip(payments) {
			var totalTip = 0;
				
			if(!payments)
				return 0;	
				
			for (var pIndex in payments) {
				if(payments.hasOwnProperty(pIndex)) {
			  		var payment = payments[pIndex];
							
					if(payment) 
				  		totalTip += payment.tips;
				}
			}			
			return totalTip;
		}

		function combineItems(receiptItems) {
			var combinedArray = new Array(), checkedIds = new Array(), correctArray = new Array();

			// Go over the different receipt items
			for(var i = 0; i < receiptItems.length; i++) {
				// Store first item
				if(i == 0) {
					combinedArray.push(receiptItems[i]);
					checkedIds.push(receiptItems[i].pOid);
				}
				else {
					// Check if pOid has already been added to combinedArray
					var foundIndex = checkedIds.allIndexOf(receiptItems[i].pOid);
					if(foundIndex == -1) {
						// The pOid has not been added yet
						combinedArray.push(receiptItems[i]);
						checkedIds.push(receiptItems[i].pOid);				
					}
					else {
						var flag = 0;
						// Check each index to check if the product has the same details as the one stored
						for(var index = 0; index < foundIndex.length; index++) {
							// Check if the product has the same details as the one stored
							if(isSameProduct(combinedArray[foundIndex[index]], receiptItems[i])) {
								combinedArray[foundIndex[index]].amount += receiptItems[i].amount;
								flag++;
							}				
						}
						if(flag < 1) {
							combinedArray.push(receiptItems[i]);
							checkedIds.push(receiptItems[i].pOid);
						}
						else if(flag > 1) {
							console.log("Something went wrong here. This is not possible.");
						}
					}
				}
			}
			
			for(var key in combinedArray)
				if(combinedArray.hasOwnProperty(key))
					if(combinedArray[key].amount != 0)
						correctArray.push(combinedArray[key]);
			return correctArray;
		}

		function isSameProduct(storedReceiptItem, newReceiptItem) {
			if(storedReceiptItem.name === newReceiptItem.name && storedReceiptItem.price == newReceiptItem.price && storedReceiptItem.additionValues.length == newReceiptItem.additionValues.length) {
				if(storedReceiptItem.additionValues.length != 0)
					if(areSameAdditions(storedReceiptItem.additionValues, newReceiptItem.additionValues))
						return true;
				else
					return true;
			}
			return false;
		}

		function areSameAdditions(storedAdditions, newAdditions) {
			storedAdditions.sort(compareAdditions);
			newAdditions.sort(compareAdditions);

			for(var i = 0; i < storedAdditions.length; i++) {
				if(!(storedAdditions[i].additionId == newAdditions[i].additionId
					&& storedAdditions[i].name == newAdditions[i].name
					&& storedAdditions[i].price == newAdditions[i].price
					&& storedAdditions[i].oid == newAdditions[i].oid
					&& storedAdditions[i].priceWithoutVAT == newAdditions[i].priceWithoutVAT))
					return false;
			}
			return true;
		}

		function compareAdditions(a,b) {
			if (a.oid < b.oid)
				return -1;
			if (a.oid > b.oid)
				return 1;
			return 0;
		}

		function addReceiptItemsAmountToAdditions(receiptItems) {
			for(var key in receiptItems)
				if(receiptItems.hasOwnProperty(key))
					for(var key2 in receiptItems[key].additionValues)
						if(receiptItems[key].additionValues.hasOwnProperty(key2))
							receiptItems[key].additionValues[key2].amount = receiptItems[key].amount;
		}

		function calculateDiscount(receipts) {
			var discount = 0;

			checkIfNotZeroEmptyOrNull(receipts.actionReceiptItems)
				for(var key in receipts.actionReceiptItems)
					if(receipts.actionReceiptItems.hasOwnProperty(key))
						if(receipts.actionReceiptItems[key].priceTypeId > 50 && receipts.actionReceiptItems[key].priceTypeId < 57)
							discount += receipts.actionReceiptItems[key].price * receipts.actionReceiptItems[key].amount;

			checkIfNotZeroEmptyOrNull(receipts.receiptItems)
				for(var key in receipts.receiptItems)
					if(receipts.receiptItems.hasOwnProperty(key))
						if(receipts.receiptItems[key].priceTypeId > 50 && receipts.receiptItems[key].priceTypeId < 57)
							discount += receipts.receiptItems[key].price * receipts.receiptItems[key].amount;

			return discount;
		}

		function calculateServiceCharge(receipts) {
			var serviceCharge = 0;

			checkIfNotZeroEmptyOrNull(receipts.actionReceiptItems)
				for(var key in receipts.actionReceiptItems)
					if(receipts.actionReceiptItems.hasOwnProperty(key))
						if((receipts.actionReceiptItems[key].priceTypeId > 59 && receipts.actionReceiptItems[key].priceTypeId < 62) || (receipts.actionReceiptItems[key].priceTypeId > 69 && receipts.actionReceiptItems[key].priceTypeId < 78))
							serviceCharge += receipts.actionReceiptItems[key].price * receipts.actionReceiptItems[key].amount;

			checkIfNotZeroEmptyOrNull(receipts.receiptItems)
				for(var key in receipts.receiptItems)
					if(receipts.receiptItems.hasOwnProperty(key))
						if((receipts.receiptItems[key].priceTypeId > 59 && receipts.receiptItems[key].priceTypeId < 62) || (receipts.receiptItems[key].priceTypeId > 69 && receipts.receiptItems[key].priceTypeId < 78))
							serviceCharge += receipts.receiptItems[key].price * receipts.receiptItems[key].amount;

			return serviceCharge;
		}

		function calculatePrice(total, tax) {
			if(completeReceipt.company.vatInclusive == false)
				return (total / (100 + tax) * 100);
			return total;
		}

		function calculateSubtotalAndTax(receiptItems) {
			window.posSubtotal = 0.0;
			window.posTax = 0.0;
			var excludeIds = [11, 12, 51, 52, 53, 54, 55, 56, 60, 61, 70, 71, 72, 73, 74, 75, 76, 77];

			for(var RI in receiptItems)
				if(receiptItems.hasOwnProperty(RI))
					if(excludeIds.indexOf(receiptItems[RI].priceTypeId) == -1) {
						if(completeReceipt.company.vatInclusive == 1)
							window.posSubtotal += receiptItems[RI].totalPrice;
						else
							window.posSubtotal += receiptItems[RI].totalPrice / (100 + receiptItems[RI].vat) * 100;
						window.posTax += receiptItems[RI].totalPrice - (receiptItems[RI].totalPrice / (100 + receiptItems[RI].vat) * 100);
					}
		}
	</script>
	<script id="headerTemplate" type="text/x-jquery-tmpl">
		{{if checkIfNotZeroEmptyOrNull(template.logoUrl)}}
			<div class="alignCenter">
				<img src="${template.logoUrl}"/>
			</div>
			<br class="clearBoth">
		{{/if}}
      
		{{if checkIfNotZeroEmptyOrNull(template.title)}}
			{{if window.posTitleWithUnderline == 1}}
				<div align="center" i21B='bigFontSize'><u>${template.title}</u></div>
			{{else}}
				<div align="center" i21B='bigFontSize'>${template.title}</div>
			{{/if}}
		{{/if}}
		<br/>
		{{if template.showWaiterTableTime == 1}} 
			<p class="floatLeft">${table.name}</p>
			{{if completeReceipt.company.vatInclusive == true}}
				<p class="floatRight alignRight">${dateToString("", 1)}</p>
			{{else}}
				<p class="floatRight alignRight">${dateToString("", 3)}</p>
			{{/if}}
			<p class="floatLeft marginClearLeft">${receipt.numberOfCustomers} cts</p>
			<p class="floatRight marginClearRight">${receipt.sequenceNumber}</p>
			<p class="floatLeft marginClearLeft">${receipt.type.toUpperCase() == "RESTAURANT" || receipt.type.toUpperCase() == "BAR" ? "Dine in" : "Take-out"}</p>
			<p class="floatRight marginClearRight">${user.username}</p>
			{{if checkIfNotZeroEmptyOrNull(customer.firstname) && checkIfNotZeroEmptyOrNull(customer.lastname)}}
				<p class="floatLeft marginClearLeft"><b>${markUpName(customer.firstname)} ${markUpName(customer.lastname)}</b></p>
			{{else checkIfNotZeroEmptyOrNull(customer.firstname) && !checkIfNotZeroEmptyOrNull(customer.lastname)}}
				<p class="floatLeft marginClearLeft"><b>${markUpName(customer.firstname)}</b></p>
			{{else checkIfNotZeroEmptyOrNull(customer.lastname) && !checkIfNotZeroEmptyOrNull(customer.firstname)}}
				<p class="floatLeft marginClearLeft"><b>${markUpName(customer.lastname)}</b></p>
			{{/if}}
		{{/if}}
    </script>
	<script id="receiptItemsTemplate" type="text/x-jquery-tmpl">
		{{if oid == -2 }}
			<tr class="borderBottom"><td></td><td></td><td id="priceHide"></td></tr>
		{{else !(priceTypeId == 11 && parentRiReceiptId != 0 && window.posShowBranches == 0) && !(priceTypeId == 12 && parentRiReceiptId != 0 && window.posShowBranches == 0) && (priceTypeId < 51 || priceTypeId > 56) && (priceTypeId < 60 || priceTypeId > 61) && (priceTypeId < 70 || priceTypeId > 77)}}
			<tr>
				{{if price == 0}}
					{{if window.posShowZeroValuedPricesProducts == 1 || (window.posShowZeroValuedPricesProducts == 0 && productIsOffert(name) && window.posShowOfferts == 1) || calculateAdditionsPrices(additionValues, 1) > 0}}
						{{if parentRiReceiptId != 0}}
							<td class="widthTen"></td>
						{{else}}
							<td class="widthTen">${amount}</td>
						{{/if}}
						{{if parentRiReceiptId != 0}}
							<td class="alignLeft widthSixty">- ${name}</td>
						{{else}}
							<td class="alignLeft widthSixty">${name}</td>
						{{/if}}
						{{if window.posShowPrice == 1}}
							{{if (priceTypeId == 11 || priceTypeId == 12) || parentRiReceiptId == 0}}
								{{if completeReceipt.company.vatInclusive == 1}}
									{{if window.posShowAdditions == 1}}
										<td class="alignRight">${(amount*price).toFixed(window.posRoundToDecimals)}</td>
									{{else}}
										<td class="alignRight">${(amount*price + (calculateAdditionsPrices(additionValues, 1))).toFixed(window.posRoundToDecimals)}</td>
									{{/if}}
								{{else}}
									{{if window.posShowAdditions == 1}}
										<td class="alignRight">${calculatePrice(amount * price, vat).toFixed(window.posRoundToDecimals)}</td>
									{{else}}
										<td class="alignRight">${((calculatePrice((amount * price), vat) + calculateAdditionsPrices(additionValues, 1))).toFixed(window.posRoundToDecimals)}</td>
									{{/if}}
								{{/if}}
							{{else}}
								<td></td>
							{{/if}}
						{{else}}
							<td id="priceHide"></td>
						{{/if}}		
					{{else}}
						<td></td><td></td><td></td>
					{{/if}}
				{{else}}
					{{if parentRiReceiptId != 0}}
						<td class="amount widthTen"></td>
					{{else}}
						<td class="amount widthTen">${amount}</td>
					{{/if}}
					{{if parentRiReceiptId != 0}}
						<td class="alignLeft widthSixty">- ${name}</td>
					{{else}}
						<td class="alignLeft widthSixty">${name}</td>
					{{/if}}
					{{if window.posShowPrice == 1}}
						{{if (priceTypeId == 11 || priceTypeId == 12) || parentRiReceiptId == 0}}
							{{if completeReceipt.company.vatInclusive == 1}}
								{{if window.posShowAdditions == 1}}
									<td class="alignRight">${(amount*price).toFixed(window.posRoundToDecimals)}</td>
								{{else}}
									<td class="alignRight">${(amount*price + (calculateAdditionsPrices(additionValues, 1))).toFixed(window.posRoundToDecimals)}</td>
								{{/if}}
							{{else}}
								{{if window.posShowAdditions == 1}}
									<td class="alignRight">${calculatePrice(amount * price, vat).toFixed(window.posRoundToDecimals)}</td>
								{{else}}
									<td class="alignRight">${((calculatePrice((amount * price), vat) + calculateAdditionsPrices(additionValues, 1))).toFixed(window.posRoundToDecimals)}</td>
								{{/if}}
							{{/if}}
						{{else}}
							<td></td>
						{{/if}}
					{{else}}
						<td id="priceHide"></td>
					{{/if}}
				{{/if}}
			</tr>
			
			{{if checkIfNotZeroEmptyOrNull(additionValues)}}
				{{if window.posShowAdditions == 1}}
					{{if calculateAdditionsPrices(additionValues) > 0 && productIsOffert(name) == false}}
						{{tmpl(additionValues) "#additionValueTemplate"}}
					{{else productIsOffert(name) && window.posShowOfferts == 1}}
						{{tmpl(additionValues) "#additionValueTemplate"}}
					{{else window.posShowZeroValuedAdditions == 1 && productIsOffert(name) == false}}
						{{tmpl(additionValues) "#additionValueTemplate"}}
					{{/if}}
				{{/if}}
			{{/if}}
		{{/if}}
	</script>
    <script id="additionValueTemplate" type="text/x-jquery-tmpl">
		<tr>
			{{if price == 0}}
				{{if window.posShowZeroValuedAdditions == 1}}
					{{if info == ""}}	
						<td class="alignLeft widthTen" i21S='smallFontSize'><i>* ${name}</i></td>
					{{else}}
						<td class="alignLeft widthTen" i21S='smallFontSize'><i>* ${info} ${name}</i></td>
					{{/if}}
					{{if window.posShowPrice == 1}}
						{{if completeReceipt.company.vatInclusive == 1}}
							<td class="alignRight" i21S='smallFontSize'><i>${(amount*price).toFixed(window.posRoundToDecimals)}</i></td>
						{{else}}
							<td class="alignRight" i21S='smallFontSize'><i>${(amount*priceWithoutVAT).toFixed(window.posRoundToDecimals)}</i></td>
						{{/if}}
					{{else}}
						<td id="priceHide"></td>
					{{/if}}
				{{else}}
					<td></td><td></td>
				{{/if}}
			{{else}}
				{{if info == ""}}	
					<td class="alignLeft widthTen" i21S='smallFontSize'><i>* ${name}</i></td>
				{{else}}
					<td class="alignLeft widthTen" i21S='smallFontSize'><i>* ${info} ${name}</i></td>
				{{/if}}					
				{{if window.posShowPrice == 1}}
					{{if completeReceipt.company.vatInclusive == 1}}
						<td class="alignRight" i21S='smallFontSize'><i>${(amount*price).toFixed(window.posRoundToDecimals)}</i></td>
					{{else}}
						<td class="alignRight" i21S='smallFontSize'><i>${(amount*priceWithoutVAT).toFixed(window.posRoundToDecimals)}</i></td>
					{{/if}}				{{else}}
					<td id="priceHide"></td>
				{{/if}}
			{{/if}}			
		</tr>  
	</script>
	<script id="subtotalsTemplate" type="text/x-jquery-tmpl">
		<tr>
			<th class="alignLeft">${window.language[0]}</th>
			<td class="floatRight"><b>${(window.posSubtotal).toFixed(window.posRoundToDecimals)}</b></td>
		</tr>
	</script>
	<script id="taxTemplate" type="text/x-jquery-tmpl">
		<tr>		
			<th class="alignLeft fontWeightNormal">${window.language[1]}</th>
			<td class="floatRight">${(window.posTax).toFixed(window.posRoundToDecimals)}</td>
		</tr>
	</script>
	<script id="discountsTemplate" type="text/x-jquery-tmpl">
		<tr>		
			<th class="alignLeft fontWeightNormal">${window.language[2]}</th>
			<td class="floatRight">${calculateDiscount(completeReceipt.receipt).toFixed(window.posRoundToDecimals)}</td>
		</tr>
	</script>
	<script id="gratuityTemplate" type="text/x-jquery-tmpl">
		{{if (priceTypeId > 59 && priceTypeId < 68 && price != 0) || (priceTypeId > 69 && priceTypeId < 78 && price != 0)}}
			<tr>
				<th class="alignLeft fontWeightNormal">${window.language[3]}</th>
				<td class="floatRight">${price.toFixed(window.posRoundToDecimals)}</td>
			</tr>			
		{{/if}}
	</script>
	<script id="totalTipTemplate" type="text/x-jquery-tmpl">
		<tr>
			<th class="alignLeft fontWeightNormal">${window.language[4]}</th>
			<td class="floatRight">${calculateTip(payments).toFixed(window.posRoundToDecimals)}</td>
		</tr>
	</script>
	<script id="receiptTotals" type="text/x-jquery-tmpl">
		<tr>		
			<th class="alignLeft">${window.language[5]}</th>
			<td class="floatRight"><b>${((receipt.total + calculateTip(payments)).toFixed(window.posRoundToDecimals))}</b></td>		
		</tr>
	</script> 
	<script id="footerTemplate" type="text/x-jquery-tmpl">
		{{if window.posShowBottomLogo == 1}}
			<div class="alignCenter clearBoth">
				<img src="${bottomLogoUrl}"/>
			</div>
		{{/if}}
	</script>
	<script type="text/javascript">
	function search(completeReceipt) {		
		// Make sure completeReceipt is globally accessible
		window.completeReceipt = completeReceipt;
		// When set to 1, an underline will be added to the title.
		window.posTitleWithUnderline = 0;
		// When set to 1, a topline will be drawn above the info section.
		window.posEnableInfoTopline = 1;
		// When set to 1, a line will be drawn underneath the receipt info.
		window.posEnableInfoSubline = 1;
		// When set to 0, the headers of the receipt items will not be shown (#, Name, Price).
		window.posShowReceiptItemsHeaders = 1;
		// Set this value to order by. Supported values are 'receiptItems.name', 'receiptItems.pId' (PLU), 'receiptItems.modificationDate'. When set to "", no ordering will happen.
		window.posOrderBy = "receiptItems.name";
		// When set to 1, the items will be ordered in ascending order. -1 Will do the opposite.
		window.posOrderDirection = 1;
		// When set to 1, the receipt items will be combined. The app does not recognise the same items when the additions have been entered in a different order. This function will combine them.
		window.posEnableCombineItems = 1;
		// When set to a value, the value will be added as margin to the head of the receipt items list. Start at 100;
		window.posAddReceiptItemsTopMargin = 50;
		// When set to a value, the value will be added as margin to the bottom of the receipt items list. Start at 10;
		window.posAddReceiptItemsBottomMargin = 10;
		// When set to 1, the prices will be shown.
		window.posShowPrice = 0;
		// When set to 2, 2 decimals will be shown.
		window.posRoundToDecimals = 2;
		// When set to 1, additions will be printed.
		window.posShowAdditions = 1;
		// When set to 1, additions of value zero will be printed.
		window.posShowZeroValuedAdditions = 1;
		// When set to 1, the prices of the products with a value of zero will be printed.
		window.posShowZeroValuedPricesProducts = 1;
		// When set to 1, offerts will be shown even though products with price zero are not shown.
		window.posShowOfferts = 1;
		// When set to 1, a line will be drawn underneath the body of the receipt.
		window.posEnableBodySubline = 1;
		// When set to 1, the subtotal, discounts, gratuity, tip and total will be printed if present.
		window.posShowTotals = 1;
		// When set to 1, a line will be drawn underneath the total price.
		window.posEnableTotalSubline = 1;
		// When set to a value, the value will be added as margin to the bottom of the total price. Start at 10;
		window.posAddTotalBottomMargin = 0;
		// When set to 1, the bottom logo will be printed provided the URL is correct.
		window.posShowBottomLogo = 1;
		// When set to 1, multiple debug lines will be pinted to see where the error occurs when princing the receipt.
		window.posEnableDebug = 0;

		if(window.posEnableInfoTopline == 1)
			$("#header").attr("class", "borderBottom");

		if(window.posEnableInfoSubline == 1)
			$("#receiptItemsList").attr("class", "borderTop");
	
		if(window.posShowReceiptItemsHeaders == 0)
			$('#receiptItemsList tr:nth-child(1)').remove();

		if(checkIfNotZeroEmptyOrNull(window.posAddReceiptItemsTopMargin))
			$("#header").css('margin-bottom', window.posAddReceiptItemsTopMargin + 'px');

		if(checkIfNotZeroEmptyOrNull(window.posAddReceiptItemsBottomMargin))
			$("#receiptItemsList").css('margin-bottom', window.posAddReceiptItemsBottomMargin + 'px');

		if(window.posEnableBodySubline == 1)
			$("#receiptItemsList").addClass("borderBottom");

		if(window.posEnableTotalSubline == 1)
			$("#totals").attr("class", "borderBottom");

		if(checkIfNotZeroEmptyOrNull(window.posAddTotalBottomMargin))
			$("#totals").css('margin-bottom', window.posAddTotalBottomMargin + 'px');

		/* Header */
		$( "#headerTemplate" ).tmpl(completeReceipt).appendTo("#header");
		
		if(window.posEnableDebug == 1)
			$('#errors').append("<p>Header printed.</p>");

		/* Receipt items */
		addReceiptItemsAmountToAdditions(completeReceipt[window.type]);

		if(checkIfNotZeroEmptyOrNull(completeReceipt[window.type])) {
			var courseArray = new Array(), lineArray = new Array(), mergedArray = new Array(), lineCount = 0;

			for(var key in completeReceipt[window.type]) {
				if(completeReceipt[window.type].hasOwnProperty(key)) {
					if(key == 0 && completeReceipt[window.type][0].oid != -2) {
						courseArray[lineCount] = new Array();	
						lineCount++;				
						courseArray[lineCount-1].push(completeReceipt[window.type][key]);
					}
					else if(completeReceipt[window.type][key].oid == -2) {
						// Create array for each course
						courseArray[lineCount] = new Array();
						// Keep these for future reference
						lineArray.push(completeReceipt[window.type][key]);
						lineCount++;	
					}
					else {
						courseArray[lineCount-1].push(completeReceipt[window.type][key]);
					}
				}
			}
			for(var i = 0; i < courseArray.length; i++) {
				if(window.posOrderBy != "")
					sortJsonArrayByProperty(courseArray[i], window.posOrderBy, window.posOrderDirection);
				courseArray[i] = combineItems(courseArray[i]);
				for(var key in courseArray[i]) {
					if(courseArray[i].hasOwnProperty(key)) {
						mergedArray.push(courseArray[i][key]);
					}
				}
				if(lineArray.length > 0)
					mergedArray.push(lineArray[0]);
			}
			if(mergedArray[mergedArray.length-1].oid == -2)
				mergedArray.pop();
			completeReceipt[window.type] = mergedArray;
		}

		calculateSubtotalAndTax(completeReceipt[window.type]);
		$("#receiptItemsTemplate").tmpl(completeReceipt[window.type]).appendTo("#receiptItemsList");

		if(window.posShowPrice == 0)
			$("#receiptItemsList #priceHide").remove()
		
		if(window.posEnableDebug == 1)
			$('#errors').append("<p>Receipt items have been printed.</p>");

		if(window.posShowTotals == 1) {
			/* (Sub)total */
			var discount = calculateDiscount(completeReceipt.receipt);
			var service = calculateServiceCharge(completeReceipt.receipt);

			if(discount != 0)
				$("#discountsTemplate").tmpl().appendTo("#discounts");

			if(window.posEnableDebug == 1)
				$('#errors').append("<p>Discounts have been printed.</p>");

			if(checkIfNotZeroEmptyOrNull(completeReceipt.receipt.actionReceiptItems))
				$("#gratuityTemplate").tmpl(completeReceipt.receipt.actionReceiptItems).appendTo("#gratuity");

			if(window.posEnableDebug == 1)
				$('#errors').append("<p>Gratuity has been printed.</p>");

			if(calculateTip(completeReceipt.payments) > 0)
				$("#totalTipTemplate").tmpl(completeReceipt).appendTo("#totalTip");

			if(window.posEnableDebug == 1)
				$('#errors').append("<p>Tip has been printed.</p>");

			if(completeReceipt.template.showTotalPrice == 1) {
				if(discount != 0 || service != 0 || completeReceipt.company.vatInclusive == 0)
					$("#subtotalsTemplate").tmpl(completeReceipt.receipt).appendTo("#subtotals");
				if(completeReceipt.company.vatInclusive == 0)
					$("#taxTemplate").tmpl().appendTo("#tax");					
				$("#receiptTotals").tmpl(completeReceipt).appendTo("#totals");
			}

			if(window.posEnableDebug == 1)
				$('#errors').append("<p>Receipt totals have been printed.</p>");
		}

		/* Bottom logo */
		$("#footerTemplate").tmpl(completeReceipt.template).appendTo("#footer");

		if(window.posEnableDebug == 1)
			$('#errors').append("<p>Bottom logo has been printed.</p>");
			
		jQuery("[i21D='defaultFontSize']").each(function(i,e){
			$(e).css({"font-family":completeReceipt.template.fontName});
			$(e).css({"font-size":completeReceipt.template.fontSize});
		});
	
		jQuery("[i21B='bigFontSize']").each(function(i,e){
			$(e).css({"font-family":completeReceipt.template.bigFontName});
			$(e).css({"font-size":completeReceipt.template.bigFontSize});
		}); 

		jQuery("[i21S='smallFontSize']").each(function(i,e){
			$(e).css({"font-family":completeReceipt.template.smallFontName});
			$(e).css({"font-size":completeReceipt.template.smallFontSize});
		});

		$("#receiptItemsList tr:nth-child(1) th:nth-child(2)").html(window.language[6]);
		$("#receiptItemsList tr:nth-child(1) th:nth-child(3)").html(window.language[7]);
}		
</script>
</head>
<body style="background:#fff">
	<div id="errors"></div>
	<div id="header" i21D='defaultFontSize'></div>
	<table id="receiptItemsList" i21D='defaultFontSize'>
		<tr>
			<th id="amountItems" align="left">#</th>
			<th id="productItem" align="left">Naam</th>
			<th id="priceHide" align="right">Prijs</th>
		</tr>
	</table>
	<table id="subtotals" i21D='defaultFontSize'>
	</table>
	<table id="tax" i21D='defaultFontSize'>
	</table>
	<table id="discounts" i21D='defaultFontSize'>
	</table>
	<table id="gratuity" i21D='defaultFontSize'>
	</table>
	<table id="totalTip" i21D='defaultFontSize'>
	</table>
	<table id="totals" i21D='defaultFontSize'>
	</table>
	<div id="footer">
	</div>
</body>
</html>